<section class="about-us">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>About us</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil eius nostrum quaerat a velit
                    blanditiis facere expedita corporis eum unde cum vitae, placeat quasi sit doloribus rerum, quia
                    voluptatum molestias.</p>
                <button>Learn more</button>
            </div>
            <div class="col-md-6">
                <div class="about-us__right">
                    <figure>
                        <img src="../../../../assets/images/res-pic-1.jpg" alt="">
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>